<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-contact">
    <span id="contact"></span>
    <div class="wide-div divREMspacing" style="background-color:rgba(0,0,0,.75);
">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <a class="nav-link" href="https://github.com/victorpena13" target="_blank">
                        <img th:src="@{image/github_mono.png}" class="centerImage" alt="github_logo"/>
                    </a>            </div>
                <div class="col-lg">
                    <a class="nav-link" href="tel:9564729753" target="_blank">
                        <img th:src="@{image/phone.png}"  class="centerImage" alt="phone_logo"/>
                    </a>            </div>
                <div class="col-lg">
                    <a class="nav-link" href="mailto:victor.pena1392@Gmail.com" target="_blank">
                        <img th:src="@{image/gmail.png}" class="centerImage" alt="gmail_logo"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>