<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-experience">
    <span id="experience"></span>
    <div class="wide-div" id="containerExperience" style="">
        <div class="" id="divExperience">
            <h1 class="colorRed" style="font-size: 70px;">Experience</h1>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4- alignLeft" style="font-size: 70px;"><h1 class="colorRed">Professional</h1></div>
                    <div class="col-lg-8-alignLeft" style="font-size: 20px;"><strong></strong></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg alignLeft" style="font-size: 20px;"><strong>Penguin Suits Advertising Agency<br/>Web Developer</strong><br/>October 2020</div>
                    <div class="col-lg-8 col-lg alignLeft">
                        <h5>
                            Developed, managed and maintained websites for multiple clients through content management systems like WordPress and Joomla.
                        </h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4 alignLeft">
                        <h5>
                            <strong>One Truck/One Guy Moving Services</strong><br/>Current Position
                        </h5>
                    </div>
                    <div class="col-lg-8 alignLeft">
                        <h5>
                            Advertised "One Truck/One Guy" moving services to help local people in San Antonio relocate their belongings to there respected dwelling.
                        </h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4 alignLeft">
                        <h5>
                            <strong>Valet Living<br/>Trash-Butler</strong><br/>July 2020
                        </h5>
                    </div>
                    <div class="col-lg-8 alignLeft">
                        <h5>
                            Collect trash bags and recycling door to door within a local apartment community and transfer to the trash compactor onsite.  Work 5 nights a week.
                        </h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4 alignLeft">
                        <h5>
                            <strong>Teleperformance<br/>Customer Service Representative</strong><br/>2016 - 2018
                        </h5>
                    </div>
                    <div class="col-lg-8 alignLeft">
                        <h5>
                            Troubleshooting and issue resolution assistance with client service and/or devices specific issues including internet connectivity and performance troubleshooting.
                        </h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4 alignLeft">
                        <h5>
                            <strong>Nike<br/>Sales Representative</strong><br/>2009-2016
                        </h5>
                    </div>
                    <div class="col-lg-8 alignLeft">
                        <h5>
                            Job duties include answering customer inquiries regarding Nike goods and services, recommending suitable products and assembling in-store displays.
                        </h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4 alignLeft" style="font-size: 70px;"><h1 class="colorRed">Academic</h1></div>
                    <div class="col-lg-8 alignLeft"><strong></strong></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 alignLeft">
                        <h5>
                            <strong>Codeup</strong><br/>October 2019
                        </h5>
                    </div>
                    <div class="col-lg-8 alignLeft">
                        <h5>
                            A fully-immersive, project-based, and intensive 18 week full stack Java career accelerator that provides students with 600+ hours of expert instruction in software development.
                        </h5>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4 alignLeft">
                        <h5>
                            <strong>South Texas College<br/>Associates in Psychology</strong><br/>December 2015
                        </h5>
                    </div>
                    <div class="col-lg-8 alignLeft">
                        <h5>
                            The Department of Psychological Science provides students with scientific knowledge related to human behavior and mental processes to include neuroscience, sensation and perception, memory, cognition, language, intelligence, consciousness, developmental psychology, personality, psychological disorders, therapy, statistics, and human sexuality.

                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>