<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar justify-content-between"
     style="background-color: rgba(0,0,0,.75);" th:fragment="top-nav">
    <!--    <div class="container">-->
    <!--Brand / Logo-->
            <a class="navbar-brand text-white" href="#vp">VP</a>

    <!--            Collapse-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--            Links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--                Left-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-white">
                    <a class="nav-link" href="#profile"><strong>Profile</strong></a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link" href="/"><strong>Experience</strong></a>
            <li class="nav-item text-white">
                <a class="nav-link" href="/"><strong>Skills</strong></a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link" href="/"><strong>Projects</strong></a>
            </li>
            <li class="nav-item text-white">
                <a class="nav-link" href="/"><strong>Contact</strong></a>
            </li>
        </ul>
    </div>
</nav>
