<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar justify-content-between"
     style="background-color: rgba(0,0,0,.75);" th:fragment="top-nav">
    <!--    <div class="container">-->
    <!--Brand / Logo-->
    <a class="navbar-brand" href="/">
        <img th:src="@{/image/vicncel.jpeg}" height="35" width="35"/>
    </a>
    <!--            Collapse-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--            Links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--                Left-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/pdf/victor_pena.pdf" download>Resume<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/projects">Projects</a>
            <li class="nav-item">
                <a class="nav-link" href="/forums">Contact</a>
            </li>
        </ul>
    </div>
</nav>
