<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-profile">
    <span id="profile"></span>
    <div class="wide-div" style="">
        <div class="padding10">
            <h1 class="colorRed alignCenter" style="font-size:70px;">Profile</h1>
            <h1 class="alignCenter">Full Stack Software Developer</h1>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1 class="alignCenter">About Me</h1>
                        <br/>
                        <h5 class="alignLeft">I am a full stack software developer with over one year experience. I enjoying advancing my knowledge and playing Fortnite. Check out my Kickass moves below! :) </h5>
                    </div>
                    <div class="col-lg">
                        <br/>
                        <img th:src="@{/image/victor_peña.JPG}" class="img-thumbnail centerImage" alt="Victor Peña" id="victorPena">
                    </div>
                    <div class="col-lg">
                        <h1 class="alignCenter">Details</h1>
                        <br/>
                        <h5 class="mb-0 alignLeft"><strong>Name:</strong> Victor Peña</h5>
                        <h5 class="mb-0 alignLeft"><strong>Age:</strong> 28</h5>
                        <h5 class="mb-0 alignLeft"><strong>Location:</strong> San-Antonio, Tx</h5>
                        <h5 class="mb-0 alignLeft">(Willing to relocate)</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>