<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-profile">
    <span id="profile"></span>
    <div class="wide-div" style="">
        <div class="padding10">
            <h1 class="colorRed alignCenter" style="font-size:70px;">Profile</h1>
            <h1 class="alignCenter">Full Stack Software Developer</h1>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <h1 class="alignCenter">About Me</h1>
                        <br/>
                        <h6 class="text-center">I am a full stack software developer with over one year experience.  I'm enjoying advancing my knowledge and playing Fortnite.  Check out my Kickass moves below! :) </h6>
                    </div>
                    <div class="col-lg">
                        <br/>
                        <img th:src="@{/image/victor_peña.JPG}" class="img-thumbnail" alt="Victor Peña" id="victorPena">
                    </div>
                    <div class="col-lg text-center">
                        <br/>
                        <h1>Details</h1>
                        <br/>
                        <h6 class="mb-0"><strong>Name:</strong> Victor Peña</h6>
                        <h6 class="mb-0"><strong>Age:</strong> 28</h6>
                        <h6 class="mb-0"><strong>Location:</strong> San-Antonio, Tx</h6>
                        <h6 class="mb-0">(Willing to relocate)</h6>
                        <br/>
                        <a class="nav-link" href="https://github.com/victorpena13" target="_blank">
                            <img th:src="@{image/github_mono.png}" class="centerImage" alt="github_logo"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                    </div>
                    <div class="col-lg">
                        <p class="card-text alignCenter">
                            <small class="text-muted">This Site Was Developed In Springboot & Thymeleaf
                                <br/>
                                <a href="https://github.com/victorpena13/victorjavierpena">View Source Code</a>
                            </small>
                        </p>
                    </div>
                    <div class="col-lg">

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

