<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-profile">
    <span id="profile"></span>
    <div class="container" id="containerProfile" style="height:47rem;display:block;margin:auto;">
        <div style="padding-top:10rem">
            <h1 class="colorRed">Profile</h1>
            <h3 class="alignCenter">Full Stack Software Developer</h3>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-sm">

                        <p class="mb-0"><strong>About Me</strong></p>
                        <br/>
                        <p class="mb-0 alignLeft">I am a full stack software developer with over one year experience. I enjoying advancing my knowledge and playing Fortnite. Check out my Kickass moves below! :) </p>
                    </div>
                    <div class="col-sm">
                        <br/>
                        <img th:src="@{/image/victor_peña.JPG}" class="img-thumbnail" alt="Victor Peña" id="victorPena">
                    </div>
                    <div class="col-sm">
                        <p class="mb-0"><strong>Details</strong></p>
                        <br/>
                        <p class="mb-0 alignLeft"><strong>Name:</strong> Victor Peña</p>
                        <p class="mb-0 alignLeft"><strong>Age:</strong> 28</p>
                        <p class="mb-0 alignLeft"><strong>Location:</strong> San-Antonio, Tx</p>
                        <p class="mb-0 alignLeft">(Willing to relocate)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>