<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-projects">
    <span id="projects"></span>
    <div class="wide-div lightGrayBckGrd">
        <div style="margin-left: 30px;margin-right: 30px;" class="padding10">
            <h1 class="alignCenter colorRed" style="font-size: 70px;">Projects</h1>
            <p class="card-text alignCenter">
                <small class="text-muted">This Site Was Developed In Springboot & Thymeleaf
                    <br/>
                    <a href="https://github.com/victorpena13/victorjavierpena" target="_blank">View Source Code</a>
                </small>
            </p>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <br/>
                        <div class="card-deck">
                            <div class="card" style="min-height: 65px;">
                                <img th:src="@{/image/weather1.jpg}" class="card-img-top projectImageHeight" alt="weather_image_icons">
                                <div class="card-body">
                                    <h6 class="card-title">Weather Map</h6>
                                    <p>
                                        <a href="https://weather-map-darksky-mapbox.glitch.me/" target="_blank"><p class="card-text"><small class="text-muted">View Project</small></p></a>
                                    </p>
                                    <p>
                                        <a href="https://github.com/victorpena13/glitch-weather-map"
                                           target="_blank"><p class="card-text"><small class="text-muted">View Source Code</small></p></a>
                                    </p>
                                    <h6 class="card-title">Technologies:</h6>
                                    <h6 class="card-text">
                                        HTML | JavaScript | jQuery | BootStrap <br/>API's :<br/>DarkSky & Mapbox
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="col-lg">
                        <br/>
                        <div class="card-deck">
                            <div class="card" style="min-height: 65px;">
                                <img th:src="@{/image/craig-hero.jpg}" class="card-img-top projectImageHeight" alt="ecommerce_icons">
                                <div class="card-body">
                                    <h6 class="card-title">Adlister</h6>
                                    <p class="card-text"><small class="text-muted">View Project</small></p>
                                    <p>
                                        <a href="https://github.com/victorpena13/java-adlister-2020" target="_blank"><p class="card-text"><small class="text-muted">View Source Code</small></p></a>
                                    </p>
                                    <h6 class="cart-title">Technologies:</h6>
                                    <h6 class="card-text">
                                        HTML | CSS | BootStrap | JavaScript | Java SE | Servlets | JSP | JDBC | MySQL
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="col-lg">
                        <br/>
                        <div class="card-deck">
                            <div class="card">
                                <img th:src="@{/image/chat11.jpg}" class="card-img-top projectImageHeight" alt="chat_icons">
                                <div class="card-body">
                                    <h6 class="card-title">ChatApp</h6>

                                    <p>
                                        <a href="" target="_blank"><p class="card-text"><small class="text-muted">View Project</small></p></a>
                                    </p>

                                    <p>
                                        <a href="https://github.com/victorpena13/ChatApp" target="_blank"><p class="card-text"><small class="text-muted">View Source code</small></p></a>
                                    </p>
                                    <h6 class="card-title">Technologies:</h6>
                                    <h6 class="card-text">
                                        HTML | CSS | JavaScript | jQuery | BootStrap | SpringBoot | Websocket - STOMP
                                    </h6>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>