<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-projects">
    <span id="projects"></span>
    <div class="wide-div lightGrayBckGrd">
        <div style="margin-left: 30px;margin-right: 30px;" class="padding10">
            <h1 class="alignCenter colorRed" style="font-size: 70px;">Projects</h1>
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <br/>
                        <div class="card-deck">
                            <div class="card" style="min-height: 65px;">
                                <img th:src="@{/image/weather1.jpg}" class="card-img-top projectImageHeight" alt="weather_image_icons">
                                <div class="card-body">
                                    <h5 class="card-title">Weather Map</h5>
                                    <p>
                                        <a href="https://weather-map-darksky-mapbox.glitch.me/" target="_blank"><p class="card-text"><small class="text-muted">View Project</small></p></a>
                                    </p>
                                    <p class="card-text">Implemented the DarkSky API and MapBox API to create a 3 day weather forecast.  Based on the users desired location.</p>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="col-lg">
                        <br/>
                        <div class="card-deck">
                            <div class="card" style="min-height: 65px;">
                                <img th:src="@{/image/craig-hero.jpg}" class="card-img-top projectImageHeight" alt="ecommerce_icons">
                                <div class="card-body">
                                    <h5 class="card-title">Adlister</h5>
                                    <p class="card-text"><small class="text-muted">View Project</small></p>
                                    <p class="card-text">Developed a site that has basic functionality as Craigslist in Java EE (Servlets, JSP)</p>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="col-lg">
                        <br/>
                        <div class="card-deck">
                            <div class="card">
                                <img th:src="@{/image/chat11.jpg}" class="card-img-top projectImageHeight" alt="chat_icons">
                                <div class="card-body">
                                    <h5 class="card-title">ChatApp</h5>
                                    <p class="card-text"><small class="text-muted">View Project</small></p>

                                    <p class="card-text">ChatApp uses STOMP (Streaming Text Oriented Messaging Protocol) a branch of Websocket to establish a communication protocol that allows two way messaging between client and server.</p>
                                </div>
                            </div>

                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>