<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-skills">
    <span id="skills"></span>
    <div class="wide-div padding" id="containerSkills">
        <div class="" id="divSkills">
            <h1 class="alignCenter colorRed" style="font-size: 70px;">Skills</h1>
            <hr/>
            <h5>HTML</h5>
            <h5>CSS</h5>
            <h5>JavaScript</h5>
            <h5>Bootstrap</h5>
            <h5>VCS with Git</h5>
            <h5>Paired Programming</h5>
            <h5>Thymeleaf</h5>
            <h5>Java SE</h5>
            <h5>MySQL</h5>
            <h5>Spring Boot Framework</h5>
            <h5>jQuery</h5>
            <h5>Object Oriented Programming</h5>
            <h5>Java EE (Servlets, JSP)</h5>
            <h5>WordPress</h5>
            <h5>Joomla</h5>
        </div>
    </div>
</th:block>