<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-skills">
    <span id="skills"></span>
    <div class="wide-div alignCenter">
        <div class="padding10">
            <h1 class="alignCenter colorRed" style="font-size: 70px;">Skills</h1>
            <hr/>
            <h6>HTML</h6>
            <h6>CSS</h6>
            <h6>JavaScript</h6>
            <h6>Bootstrap</h6>
            <h6>VCS with Git</h6>
            <h6>Paired Programming</h6>
            <h6>Thymeleaf</h6>
            <h6>Java SE</h6>
            <h6>MySQL</h6>
            <h6>Spring Boot Framework</h6>
            <h6>jQuery</h6>
            <h6>Object Oriented Programming</h6>
            <h6>Java EE (Servlets, JSP)</h6>
            <h6>WordPress</h6>
            <h6>Joomla</h6>
            <h6>Docker</h6>
        </div>
    </div>
</th:block>