<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<span id="vp"></span>
<th:block th:replace="fragments/header :: site-header('Victor J Pena')"/>

<body>

<th:block th:replace="fragments/navbar :: top-nav"/>

<th:block th:replace="fragments/containerOne :: site-containerOne"/>

<th:block th:replace="fragments/profile :: site-profile"/>

<th:block th:replace="fragments/experience :: site-experience"/>

<th:block th:replace="fragments/skills :: site-skills"/>

<th:block th:replace="fragments/project :: site-projects"/>

<th:block th:replace="fragments/contact :: site-contact"/>


<img th:src="@{/gif/fortnite.gif}" width="100%" alt="fortnite gif"/>


<th:block th:replace="fragments/scripts :: site-scripts"/>

</body>

</html>