<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="fragments/header :: site-header('Victor J Pena')"/>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>
<div style="background-image: url('/image/San-Antonio.jpg'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
    <!-- Mask & flexbox options-->
    <div class="d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container" style="margin-top: 10%;">
            <div>
                <h1 class="display-4 font-weight-bold">Victor J</h1>
                <h1 class="display-4 font-weight-bold">Peña</h1>

                <hr class="hr-light"/>

                <h3 class="mb-4 d-none d-md-block text-white">
                    <strong>Software Developer</strong>
                </h3>

                <div class="row mx-sm-auto">
                    <input type="button" value="Learn More" class="btn btn-white text-dark btn-lg"
                           onclick="document.getElementById('middle').scrollIntoView();"/>
                </div>
                <!--Grid column-->
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5 mb-4 mx-auto">
                    <div sec:authorize="isAuthenticated()" style="height:25rem; width: 25rem;">
                        <!--                        <img th:src="@{/image/HeadLogo.png}" style="height:100%; width: 100%; align-content: end"/>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img th:src="@{/gif/fortnite.gif}" width="100%"/>

<th:block th:replace="fragments/scripts :: site-scripts"/>
</body>
</html>
