<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/xml/ns/javaee">

<th:block th:replace="fragments/header :: site-header('Home')"/>

<body>

<th:block th:replace="fragments/navbar :: top-nav"/>

<div id="marginTop"></div>


<img th:src="@{/image/San-Antonio.jpg}" class id="myVideo"/>

<div class="container">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            <img  th:src="@{image/vicncel.jpeg}" class="img-thumbnail center"/>
        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img th:src="@{/gif/fortnite.gif}" width="100%" class="img-thumbnail"/>
        </div>
    </div>



<th:block th:replace="fragments/scripts :: site-scripts"/>
</body>
</html>

