#marginTop {
    margin-top: 75px;
}


html {
    scroll-behavior: smooth;
}


.view {
    background-color: #F1F3F4;

    text-align: center;
}

body {
    background-color: #202020;

}

#containerTwo {
    background-color: #202020;
    margin-bottom:10%;
    text-align:center;
}

#victorPena {
    display: block;
    margin: auto;
    width: 25%;
}
