#marginTop {
    margin-top: 75px;
}


html {
    scroll-behavior: smooth;
}


.view {

    text-align: center;
}

#containerProfile {
    text-align:center;
}


#victorPena {
    display: block;
    margin: auto;
    width: 75%;
}

.wide-div {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


div .imagec {

    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}


div .imaged {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

div .imagec2 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.flex-item {
    float: none;
    margin: 10px;
}

.flex-item {
    margin-top: 10%;
    box-sizing: border-box;

    background-color: white;
    display: inline-block;
    width: 20rem;
    height: 30rem;
}

.flex-item + .flex-item {
    margin-top: 10%;

}


#marginTop {
    margin-top: 69px;
}

#mainHeading {
    text-align: center;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.colorRed {
    color: #E62E52;
    font-weight: bolder;
}

#containerExperience {
    background-color:#AECCF3;
    text-align:center;
}